<!-- views/partials/admin-sidebar.ejs -->

<%- include("./logout.ejs")%>

<!--Links to search pages-->
<% if(locals.admin) { %>

<p>
	<a href="/report" class="btn btn-primary btn-block">Reports</a>
</p>
<p>
	<a href="/course" class="btn btn-primary btn-block">Course</a>
</p>
<p>
	<a href="/faculty" class="btn btn-primary btn-block">Faculty</a>
</p>
<p>
	<a href="/job" class="btn btn-primary btn-block">Job</a>
</p>
<% } %>
<!--<p>
	<a href="/semester" class="btn btn-primary btn-block">Semester</a>
</p>-->
<p>
	<a href="/student" class="btn btn-primary btn-block">Student</a>
</p>