<!-- views/partials/search-sidebar.ejs -->
<div class="col-md-12">
	<p>Search Students</p>
	<div class="search-bar">
		<form action="?">
			<p>PID:</p>
			<input type="number" name="pid">
			<p>Last Name:</p>
			<input type="text" name="last-name">
			<p>
				<button type="submit">Search</button>
			</p>
		</form>
	</div>

</div>