<!-- views/partials/student-sidebar.ejs -->
<div class="col-md-12">
	<div>STUDENT IMAGE HERE</div>
	<h1>STUDENT NAME HERE</h1>
	<h5>STUDENT TYPE HERE</h5>
	<p>STUDENT PID HERE</p>

	<hr/>

	<p>
		<a href="" class="btn btn-primary btn-block">Personal Information</a>
	</p>
	<p>
		<a href="" class="btn btn-primary btn-block">Degree Requirements</a>
	</p>
	<p>
		<a href="" class="btn btn-primary btn-block">Course History</a>
	</p>
	<p>
		<a href="" class="btn btn-primary btn-block">Documents</a>
	</p>
	<p>
		<a href="" class="btn btn-primary btn-block">Jobs</a>
	</p>
</div>