<ul class="nav nav-tabs whiteBg space">
  <li class="nav-item">
    <a class="nav-link" href="/studentView">Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/studentView/jobs">Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/studentView/forms">Forms</a>
  </li>
  <li class="nav-item">
  	<a class="nav-link" href="/studentView/courses">Courses</a>
  </li>
</ul>