<!-- views/faculty/create.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Create faculty</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-3 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-faculty.ejs') %>

				</div>
				
				<div class='col-lg-9 panelbg text-center'>
					<h1>Create Faculty</h1>
					<form action="/faculty/post" method="post">
						<table align="center">
							<tbody>
								<tr>
									<td>Username</td>
									<td><input type="text" name="username" required/></td>
								</tr>
								<tr>
									<td>First name</td>
									<td><input type="text" name="firstName" required/></td>
								</tr>
								<tr>
									<td>Last name</td>
									<td><input type="text" name="lastName" required/></td>
								</tr>
								<tr>
									<td>PID</td>
									<td><input type="number" name="pid" required/></td>
								</tr>
								<tr>
									<td colspan="2"><input type="submit" required/></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>