<!DOCTYPE html>
 
<html>
	<head>
		<title>Grad tracking</title>
		<%- include('./partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-2 sidebar text-center'>
					<%- include('./partials/admin-sidebar.ejs') %>
				</div>

				<div class='col-lg-10 panelbg text-center'>
					<div class="jumbotron">
						<h1>Grad tracking</h1>
						<h1>This is the gr8test website of all time.</h1>
					</div>
				</div>
				
				
			</div>
		</div>
	</body>
</html>