.sidebar {
	background-color: lightblue;
}

.panelbg {
	background-color: lightgrey;
}

html, body {
	height: 100%;
}

.white-bg {
	background-color: white;
}

.column-padding td {
	padding:0 30px 0 30px;
}

table {
	table-layout: fixed;
}

/* faculty table column widths*/
.col-facultyUsername {
	width: 20%;
}

.col-facultyFirstname {
	width: 20%;
}

.col-facultyLastname {
	width: 20%;
}

.col-facultyPid {
	width: 20%;
}

.col-facultyActive {
	width: 10%;
}

.col-delete {
	width: 10%;
}
/* semester table column widths */
.col-SemesterYear {
	width: 40%;
}

.col-SemesterSeason {
	width: 40%;
}

.col-SemesterDelete {
	width: 20%;
}

/*course table column widths */

.col-course-department {
	width:15%;
}

.col-course-number {
	width:10%;
}

.col-course-name {
	width:20%;
}

.col-course-category {
	width:10%;
}

.col-course-hours {
	width:5%;
}

.col-course-faculty {
	width:15%;
}

.col-course-semester {
	width:15%;
}

.col-course-delete {
	width:10%;
}

.display-table {
	width: 100%;
}
