<!DOCTYPE html>
<!-- views/report/index.ejs -->


<html>
	<head>
		<title>Reports</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<%- include("../partials/admin-sidebar.ejs") %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<h3 class="space">View a report</h3>
					

				</div>
			</div>
		</div>
		<%- include("../partials/bootstrapScripts.ejs") %>
	</body>

	<script type="text/javascript"> </script>
	
</html>