<!-- /views/student/search-student.ejs -->
<p>Search students</p>
<div class="search-bar">
	<form action="/student" method="get">
		<div class="form-group row">
			<label for="searchLastName" class="col-md-4">Last Name:</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="searchLastName" placeholder="Last name" name="lastName"/>
			</div>
		</div>
		<div class="form-group row">
			<label for="searchPid" class="col-md-4">PID:</label>
			<div class="col-md-8">
				<input type="number" pattern=".{9,9}" class="form-control" id="searchPid" placeholder="PID" name="pid"/>
			</div>
		</div>
		<div class="form-group row">
			<label for="searchActive" class="col-md-4">Active:</label>
			<div class="col-md-8">
				<input type="checkbox" class="form-control" id="searchActive" name="active" checked value=true />
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-4 offset-md-4">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</form>
</div>
<div>
	<p>
		<a href="/student/create" class="btn btn-primary btn-block">Create student</a>
	</p>
</div>