<ul class="nav nav-tabs whiteBg space">
  <li class="nav-item">
    <a class="nav-link" href="/student/edit/<%=student._id%>">Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/student/jobs/<%=student._id%>">Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/student/forms/<%=student._id%>/false">Forms</a>
  </li>
</ul>