<!-- views/course/create.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Create course</title>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class='col-lg-3 sidebar text-center'>
					<p>ABC</p>
				</div>
				<div class='col-lg-9 panelbg text-center'>

				</div>
			</div>
		</div>
	</body>
</html>