
<p>Search Courses</p>
<div class="search-bar">
	<form action="/faculty" method="get">
		<div class="row">
			<div class="col-md-6">
				<p>PID:</p>
				<p>Last Name:</p>
			</div>
			<div class="col-md-6">
				<p><input type="number" name="pid"></p>
				<p><input type="text" name="lastName"></p>
			</div>
		</div>
		<button type="submit">Search</button>
		<p></p>
	</form>
</div>
<div>
	<p>
		<a href="/faculty/create" class="btn btn-primary btn-block">Create Faculty</a>
	</p>
</div>