
<p>Search Courses</p>
<div class="search-bar">
	<form action="/course" method="get">
		<div class="row">
			<div class="col-md-6">
				<p>Course number:</p>
				<p>Course name:</p>
			</div>
			<div class="col-md-6">
				<p><input type="number" name="number"></p>
				<p><input type="text" name="name"></p>
			</div>
		</div>
		<button type="submit">Search</button>
		<p></p>
	</form>
</div>
<div>
	<p>
		<a href="/course/create" class="btn btn-primary btn-block">Create course</a>
	</p>
</div>