<!-- views/course/upload.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Upload course</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-2 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-course.ejs') %>
				</div>

				<div class='col-lg-10 panelbg text-center'>
					
				</div>
			</div>
		</div>
	</body>
</html>