<!-- views/semester/create.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Create semester</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-3 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-semester.ejs') %>

				</div>
				
				<div class='col-lg-9 panelbg text-center'>
					<h1>Create semester</h1>
					<form action="/semester/post" method="post">
						<div class="form-group row">
							<label for="inputYear" class="col-md-2 offset-md-3">Year</label>
							<div class="col-md-4">
								<input type="number" class="form-control" id="inputYear" name="year" placeholder="Year" min="2000" max="3000" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputSeason" class="col-md-2 offset-md-3">Season</label>
							<div class="col-md-4">
								<select name="season" class="form-control" id="inputSeason" required>
									<option value="FALL">Fall</option>
									<option value="SPRING">Spring</option>
								</select>
							</div>
						</div>

						<div class="form-group row align-items-end">
							<div class="col-md-4 offset-md-4">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
								
					</form>
				</div>
			</div>
		</div>
	</body>
</html>